--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
pandas
boto3
pydantic
python-dotenv
torch
sentence-transformers
google-generativeai
langchain
langchain-google-genai
langchain-community
langchain-chroma
langchain-huggingface
langgraph
resend